<div class="m-canvas" id="meme-canvas-view">
  <div class="m-canvas__canvas" id="meme-canvas">
    <noscript>Lo siento, esta herramienta requiere un navegador especial. Prueba Google Chrome.</noscript>
  </div>
  <p class="m-canvas__download">
    <a href="#" download="share.png" id="meme-download">Bajar imagen</a>
  </p>
</div>
